
/*.rad{
	height: 100vh;
	background: linear-gradient(rgb(243, 243, 243), pink);
}*/


body {
	
	
	background-image: url(../images/top.png), url(../images/achtergrond.png);
	background-size: cover ;
	font-family: 'Neucha', cursive;
	background-repeat: no-repeat;
	
}


img {
	width: 1000px;
	height: 400px;
	
}
ul {
	display: block;
	margin:  0px;
	padding: 0px;
	list-style: none;
	align-content: space-between;
}
ul li {
	float: left;
	width: 250px;
	height: 40px;
	opacity: .9;
	line-height: 40px;
	text-align: center;
	font-size: 35px;
	position: static;
}

ul li a {
	color: black;
	display: block;
	border-radius: 35%;
	background-color: white;
}
ul li a:hover{
	background-color: #A1CCB6;
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}