.yellow-circle {
    position: fixed;
    top: 32%;
    left: 47%;
    width: 400px;
    height: 400px;
    background-color: #F8CD6F;
    border-radius: 50%;
}








body {
	
	
	background-image: url(../images/top.png), url(../images/achtergrond.png);
	background-size: cover ;
	font-family: 'Neucha', cursive;
	background-repeat: no-repeat;
	
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
	width: 1000px;
	height: 400px;
	
}

a {
    text-decoration: none;
  }
  
  nav {
    display: block;
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
    display: flex;
    float: left;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 30%;
    background-color: white;
  }
    
  li a {
    color: #000;
  }
  
  li:hover,
  li:focus-within {
      background-color: #A1CCB6;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }