body {
	background-image: url(../images/top.png), url(../images/achtergrond.png);
	background-size: cover ;
	font-family: 'Neucha', cursive;
	background-repeat: no-repeat;
}

.shows {
    position: absolute;
    background-color: #F8CD6F;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    top: 30%;
    left: 17%;
    cursor: pointer;
}

.list{
    position: absolute;
    height: 250px;
    width: 350px;
    top: 20%;
    left: 13%;
}

#text1{
    position: absolute;
    font-size: 50px;
    top: 3%;
    left: 40%;
    opacity: 0;
    transition: all 0.5s;
    color: #000;
}

.shows:hover #text1 {
    opacity: 1;
}
.Live {
    position: absolute;
    background-color: #F8CD6F;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    top: 30%;
    left: 57%;
    cursor: pointer;
}

#text2{
    position: absolute;
    font-size: 50px;
    top: 3%;
    left: 40%;
    opacity: 0;
    transition: all 0.5s;
    color: #000;
}

.Live:hover #text2 {
    opacity: 1;
}

.tv {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 17%;
    left: 17%;
}




.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  img {
      width: 1000px;
      height: 400px;
      
  }
  
  a {
      text-decoration: none;
    }
    
    nav {
      display: block;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    
    li {
      display: flex;
      float: left;
      justify-content: space-around;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;
      border-radius: 30%;
      background-color: white;
    }
      
    li a {
      color: #000;
    }
    
    li:hover,
    li:focus-within {
        background-color: #A1CCB6;
        cursor: pointer;
    }
    
    li:focus-within a {
      outline: none;
    }
    
    ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }
    
    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block
    }
    
    ul li ul li {
        clear: both;
      width: 100%;
    }
  