body {
	background-image: url(../images/top.png), url(../images/f3ade0e10f3b2236aa887e4ab5675ca1-2.jpg);
	background-size: cover ;
	font-family: 'Neucha', cursive;
  background-repeat: repeat;
  background-size: initial;
}

.Location {
  position: absolute;
    background-color: #D7EAE3;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 25%;
    left: 10%;
}

p {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 45px;
}

.plant {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 16%;
  top: 5%;
}

.rotten {
    position: absolute;
    background-color: #A1CCB6;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    top: 30%;
    left: 20%;
    cursor: pointer;
}

.spill {
    position: absolute;
    background-color: #A1CCB6;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    top: 30%;
    left: 45%;
    cursor: pointer;
}

.sauce {
    position: absolute;
    background-color: #A1CCB6;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    top: 30%;
    left: 70%;
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 65%;
    left: 20%;
    font-size: 30px;
    color: #000;
    text-align: center;
}





.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
	width: 1000px;
	height: 400px;
	
}

a {
    text-decoration: none;
  }
  
  nav {
    display: block;
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
    display: flex;
    float: left;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 30%;
    background-color: white;
  }
    
  li a {
    color: #000;
  }
  
  li:hover,
  li:focus-within {
      background-color: #A1CCB6;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }
