body {
	background-image: url(../images/top.png), url(../images/achtergrond.png);
	background-size: cover ;
	font-family: 'Neucha', cursive;
	background-repeat: no-repeat;
}

.Rotten {
    position: absolute;
    background-color: #FDEEB5;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    top: 30%;
    left: 30%;
}

h1 {
    position: absolute;
    font-size: 90px;
    left: 15%;
    top: 5%;
    color: #000;
}

.Ep-1 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 30%;
    left: 60%;
    cursor: pointer;
    color: black;
}

.Ep-1 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 30%;
    left: 60%;
}

.Ep-2 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 30%;
    left: 70%;
}

.Ep-3 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 45%;
    left: 60%;
}

.Ep-4 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 45%;
    left: 70%;
}

.Ep-5 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 60%;
    left: 60%;
}

.Ep-6 {
    position: absolute;
    background-color:#F8CD6F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 60%;
    left: 70%;
}

p {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size:30px;
}

.banan-girl {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 1000px;
  width: 550px;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
	width: 1000px;
	height: 400px;
	
}

a {
    text-decoration: none;
  }
  
  nav {
    display: block;
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
    display: flex;
    float: left;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 30%;
    background-color: white;
  }
    
  li a {
    color: #000;
  }
  
  li:hover,
  li:focus-within {
      background-color: #A1CCB6;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }
