

body {
	
	
	background-image: url(../images/top.png), url(../images/achtergrond.png);
	background-size: cover ;
	font-family: 'Neucha', cursive;
	background-repeat: no-repeat;
	
}


img {
	width: 1000px;
	height: 400px;
	
}

.navbar{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
}

li:hover .sublist-music{
    display: block;
}

li{
    background-color: white;
    border-radius: 30%;
}

li:hover{
    background-color: #A1CCB6;
}

.sublist-music{
    display: none;
}

.sublist-podcasts{
    display: none;
}